.clr{
  clear: both;
}

h1{
  font-size: 26px;
  padding-top: 10px;
}

h1 a, h1 a:hover{
  color: #fff;
  text-shadow: 1px 1px 0 #999;
  text-decoration: none;
}

section h3{
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
  background: #333;
  color: yellow;
  display: inline-block;
  padding: 0 3px;
  letter-spacing: 0.05em;
}

header{
}

address{
  font-style: normal;
}
section address i.fa{
  display: inline-block;
  width: 15px;
}

section .columns{
  margin-bottom: 20px;
}

.MainNav a{
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 10px;
  text-decoration: none;
  transition: color 0.2s;
}
.MainNav a:hover, .MainNav a.on{
  color: #aaa; 
}

.line{
  height: 1px;
  background: #aaa;
}

h2, section{
  font-family: monospace;
}

section ul{
  margin-top: 5px;
}

section ul li{
  list-style-type: none;
  margin-bottom: 2px;
}

.social-link a{
  text-decoration: none;
  color: #333;
}


@keyframes elementAppear{
  0%{
    opacity: 0;
    transform: translateY(14px);
  }
  100%{
    opacity: 1;
  }
}

@keyframes elementFadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.Home figure{
  margin: 0;
  padding: 0;
  animation: elementAppear 0.5s both 750ms;
}
.Home figure img{
  width: 100%;
  border: 3px solid #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.Home figcaption{
  font-size: 10px;
  text-align: justify;
}

.Home p{
  animation: elementAppear 0.5s both 500ms;
}

.Skills .columns{
  animation: elementAppear 0.5s both 0.5s;
}

.Skills .row.r1 .columns:nth-child(1){ animation-delay: 0.6s;}
.Skills .row.r1 .columns:nth-child(2){ animation-delay: 0.7s;}
.Skills .row.r1 .columns:nth-child(3){ animation-delay: 0.8s;}
.Skills .row.r1 .columns:nth-child(4){ animation-delay: 0.9s;}

.Skills .row.r2 .columns:nth-child(1){ animation-delay: 1.1s;}
.Skills .row.r2 .columns:nth-child(2){ animation-delay: 1.2s;}
.Skills .row.r2 .columns:nth-child(3){ animation-delay: 1.3s;}
.Skills .row.r2 .columns:nth-child(4){ animation-delay: 1.4s;}


.Misc{ animation: elementFadeIn 0.5s both 0s; }

.About address{
  margin-top: 8px;
}

.About .columns{
  animation: elementAppear 1s both 0.5s;
}
.About .columns:nth-child(1){ animation-delay: 500ms;}
.About .columns:nth-child(2){ animation-delay: 750ms;}
.About .columns:nth-child(3){ animation-delay: 1000ms;}

