
.Misc .processing img{
  display: block;
  float: left;
  width: 25%;
}

.Misc .photos a{
  display: block;
  float: left;
  width: 10%;
  padding-bottom: 10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50;
  transition: opacity 0.2s;
}
.Misc .photos a:hover{
  opacity: 1;
}

.Misc .aquarelles .columns{
  position: relative;
}
.Misc .aquarelles img{
  max-width: 100%;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.Misc .clr{
  margin-bottom: 60px;
}

