.SkillBar{
  height: 1.5em;
  position: relative;
  overflow: hidden;
}

.SkillBar .label{
  position: absolute;
  left: 0;
  top: 0;
}

.SkillBar .units{
  display: block;
  width: 5.6em;
  position: absolute;
  right: 1px;
  top: 0;
}
.SkillBar .unit{
  display: inline-block;
  background: #ddd;
  outline: 1px solid #bbb;
  height: 0.5em;
  width: 1.12em;
}
.SkillBar .unit.empty{
  background: #fff;
}

